<plugin name='jquery' version='1.8.0' grailsVersion='1.2.2 &gt; *'>
  <author>Sergey Nebolsin, Craig Jone, Marc Palmer and Finn Herpich</author>
  <authorEmail>nebolsin@gmail.com, craigjones@maximsc.com, marc@grailsrocks.com and finn.herpich@marfinn-software.de</authorEmail>
  <title>JQuery for Grails</title>
  <description>Provides integration for the JQuery library with grails JavascriptProvider</description>
  <documentation>http://grails.org/JQuery+Plugin</documentation>
  <type>JqueryGrailsPlugin</type>
  <resources>
    <resource>JQueryConfig</resource>
    <resource>JQueryPluginResources</resource>
    <resource>JQueryService</resource>
    <resource>JQueryResourceTagLib</resource>
    <resource>JQueryTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>