<plugin name='mongodb' version='1.0.0.RC5' grailsVersion='1.3.5 &gt; *'>
  <author>Graeme Rocher</author>
  <authorEmail>graeme.rocher@springsource.com</authorEmail>
  <title>MongoDB GORM</title>
  <description>A plugin that integrates the Mongo document datastore into Grails, providing a GORM API onto it</description>
  <documentation>http://grails.org/plugin/mongodb</documentation>
  <type>MongodbGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <test>
      <dependency group='org.grails' name='grails-datastore-gorm-test' version='1.0.5.RELEASE' />
      <dependency group='org.grails' name='grails-datastore-simple' version='1.0.5.RELEASE' />
    </test>
    <compile>
      <dependency group='org.springframework.data' name='spring-data-commons-core' version='1.2.0.RELEASE' />
      <dependency group='org.mongodb' name='mongo-java-driver' version='2.7.1' />
      <dependency group='org.grails' name='grails-datastore-web' version='1.0.5.RELEASE' />
      <dependency group='org.grails' name='grails-datastore-core' version='1.0.5.RELEASE' />
      <dependency group='org.grails' name='grails-datastore-mongo' version='1.0.0.RC5' />
      <dependency group='org.grails' name='grails-datastore-gorm-mongo' version='1.0.0.RC5' />
      <dependency group='org.springframework.data' name='spring-data-mongodb' version='1.0.0.RELEASE' />
      <dependency group='org.grails' name='grails-datastore-gorm-plugin-support' version='1.0.5.RELEASE' />
      <dependency group='org.grails' name='grails-datastore-gorm' version='1.0.5.RELEASE' />
    </compile>
    <runtime>
      <dependency group='com.gmongo' name='gmongo' version='0.9.1' />
      <dependency group='javassist' name='javassist' version='3.12.0.GA' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>